* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Navbar */

nav {
  width: 100%;
  height: 5rem;
  position: fixed; /* Define a posição fixa */
  top: 0; /* Alinha a barra de navegação no topo da janela */
  background-color: white; /* Define a cor de fundo */
  z-index: 1000; /* Garante que a barra de navegação esteja acima de outros elementos */
  transition: top 0.3s;
  display: flex; /* Usar flexbox para alinhar itens */
  align-items: center; /* Alinhar itens verticalmente ao centro */ /* Espaçar itens uniformemente */
  padding: 0 20px;

  img {
    margin: 1rem 2rem;
    height: 50px;
    width: 180px;
  }

  ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;

    & .li-whatsapp,
    .li-qprof {
      display: none;
    }
  }

  ul li {
    display: inline-block;
    line-height: 50px;
    margin: 0 5px;
  }

  ul li a {
    color: rgb(0, 0, 0);
    font-size: 14px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }

  a.active,
  a:hover {
    color: white;
    background: rgb(33, 45, 96);
    transition: 0.5s;
  }

  .checkbtn {
    font-size: 30px;
    color: rgb(0, 0, 0);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }

  #check {
    display: none;
  }

  .botoes-box {
    display: flex;
    gap: 1rem;
    position: absolute;
    right: 0px;
    padding: 1rem;

    .whatsapp-btn {
      padding: 0.5rem;
      border: none;
      border-radius: 5px;
      color: white;
      font-size: 18px;
      font-weight: 300;
      background-color: rgb(37, 211, 102);
      transition: 0.3s;
      cursor: pointer;

      &:hover {
        font-size: 19px;
        color: rgb(236, 236, 236);
      }
    }

    .portal-btn {
      padding: 0.5rem;
      border: none;
      border-radius: 5px;
      color: white;
      font-size: 18px;
      font-weight: 300;
      background-color: rgb(31, 46, 93);
      transition: 0.3s;
      cursor: pointer;

      &:hover {
        font-size: 19px;
        color: rgb(236, 236, 236);
      }
    }
  }

  @media (max-width: 1200px) {
    & {
      display: block;
    }

    .botoes-box {
      display: none;
    }

    img {
      margin: 1rem 0rem;
    }
    .checkbtn {
      display: flex;
      margin: 1.5rem 0rem;
      font-size: 35px;
    }
    ul {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      float: right;
      margin-right: 20px;
      z-index: 1;
      position: fixed;
      width: 100%;
      height: 100vh;
      background-color: rgb(33, 45, 96);
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all 0.5s;
    }

    ul .li-whatsapp {
      width: 15rem;
      display: inline;
      padding: 0.5rem;
      border: none;
      border-radius: 5px;
      color: white;
      font-size: 18px;
      font-weight: 300;
      background-color: rgb(37, 211, 102);
      transition: 0.3s;
      cursor: pointer;

      &:hover {
        font-size: 19px;
        color: rgb(236, 236, 236);
      }
    }

    ul .li-qprof {
      display: inline;
      padding: 0.5rem;
      border: none;
      border-radius: 5px;
      color: white;
      font-size: 18px;
      font-weight: 300;
      background-color: rgb(62, 76, 117);
      transition: 0.3s;
      cursor: pointer;

      &:hover {
        font-size: 19px;
        color: rgb(236, 236, 236);
      }
    }

    ul li {
      display: block;
      margin: 20px 0;
      line-height: 30px;
    }
    ul li a {
      color: white;
      font-size: 20px;
    }
    a:hover,
    a.active {
      background: none;
      color: rgb(165, 165, 165);
    }
    #check:checked ~ ul {
      left: 0;
    }
  }
}

/* Carousel inicio */

#slider {
  margin: 5rem auto;
  width: 100%;
  height: 30rem;
  text-align: center;
}
#slider input[type="radio"] {
  display: none;
}
#slider label {
  cursor: pointer;
  text-decoration: none;
}
#slides {
  border: none;
  position: relative;
  z-index: 1;
}
#overflow {
  width: 100%;
  overflow: hidden;
}
#slide1:checked ~ #slides .inner {
  margin-left: 0;
}
#slide2:checked ~ #slides .inner {
  margin-left: -100%;
}
#slide3:checked ~ #slides .inner {
  margin-left: -200%;
}
#slide4:checked ~ #slides .inner {
  margin-left: -300%;
}
#slides .inner {
  transition: margin-left 800ms cubic-bezier(0.77, 0, 0.175, 1);
  width: 400%;
  height: 300px;
}
#slides .slide {
  width: 25%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff;
}

.slide-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  height: auto;
  gap: 1rem;

  & p{
    font-size: 20px;
    width: 80%;
  }

  & a {
    color: rgb(33, 45, 96); 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-weight: 200;
    font-family: sans-serif;
    font-size: 20px; 
    height: 2rem;
    border-radius: 8px;
    width: 14rem; 
    background-color: white; 
    transition: 0.3s; 
  }
  
  & a:hover {
    background-color: rgb(
      236,
      236,
      236
    ); /* Cor de fundo do link ao passar o mouse */
  }
  
}

#slides .slide_1 {
  height: 25rem;
  background: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0)
    ),
    url("../img/image1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#slides .slide_2 {
  height: 25rem;
  background: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0)
    ),
    url("../img/image2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#bullets {
  margin: 1rem 0;
  text-align: center;
}
#bullets label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #ccc;
  margin: 0 10px;
}
#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4:checked ~ #bullets label:nth-child(4) {
  background: #444;
}

/* Vantanges content */

.vantanges-container {
  margin-top: -4rem;
  width: 100%;
  gap: 2rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    text-align: center;
    font-size: 35px;
    color: rgb(33, 45, 96);
  }

  .box-itens {
    padding: 1rem;
    width: 100%;
    height: auto;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    div {
      color: rgb(49, 49, 49);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      padding: 0.7rem;
      width: 20rem;
      height: 8rem;
      border: 1px solid rgb(156, 156, 156);
      border-radius: 8px;
      background-color: rgb(255, 255, 255);

      p {
        font-weight: 100;
        font-family: "Open Sans", sans-serif;
        text-align: center;
        color: #414141;
      }
    }
  }

  @media only screen and (max-width: 900px) {
    & {
      padding: 0rem;

      .box-itens {
        width: 100%;

        div {
          width: 25rem;

          h3 {
            text-align: center;
            font-size: 18px;
          }

          p {
            font-size: 18px;
          }
        }
      }
    }
  }
}

/* Sobre Container */

.sobre-container {
  margin-top: 4rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 4rem 2rem;
  height: 30rem;
  color: white;
  background-color: rgb(27, 48, 92);

  .box-sobre {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: auto;

    h1 {
      font-size: 35px;
    }

    p {
      font-family: "Open Sans", sans-serif;
      font-size: 18px;
    }
  }

  .box-img {
    width: 40%;
    height: auto;
    background-image: url("../img/escritorio.JPG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
  }

  @media only screen and (max-width: 900px) {
    & {
      height: auto;
      padding: 1rem;
      gap: 2rem;
      flex-direction: column;

      .box-sobre {
        width: 100%;
      }

      .box-img {
        width: 100%;
        height: 15rem;
      }
    }
  }
}

.video-container {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  height: 30rem;

  .video-box {
    width: 50%;
    border-radius: 20px;

    .video-placeholder {
      height: 100%;
    }
  }

  .texto-video {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: auto;

    h1 {
      color: rgb(33, 45, 96);
      font-size: 35px;
    }

    i {
      color: rgb(33, 45, 96);
    }

    ul {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      font-size: 20px;

      & li {
        font-family: "Open Sans", sans-serif;
      }
    }
  }

  @media only screen and (max-width: 900px) {
    & {
      height: auto;
      padding: 3rem 1rem;
      gap: 2rem;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .video-box {
        width: 100%;
        height: 15rem;
      }

      .texto-video {
        width: 100%;

        h1 {
          text-align: center;
          font-size: 30px;
        }

        ul {
          font-size: 18px;
        }
      }
    }
  }
}

/* Parceiros content */

.parceiros-container {
  background-color: rgb(244, 244, 245);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 3rem 0rem;

  h1 {
    font-size: 35px;
    text-align: center;
    color: rgb(33, 45, 96);
  }
}

@keyframes slide {
  form {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  width: 100%;
  overflow: hidden;
  padding: 60px 0;
  background: white;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 15s slide infinite linear;
}

.logos-slide img {
  object-fit: contain;
  width: 175px;
  height: 80px;
  margin: 0 40px;
}

@media only screen and (max-width: 900px) {
  .logos-slide {
    animation: 15s slide infinite linear;
  }

  .logos:before,
  .logos:after {
    background: none;
  }
}

/* Rodape */

footer {
  background-color: rgb(33, 45, 96);
  bottom: 0;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  padding: 1rem;
  gap: 1rem;
  justify-content: space-around;

  * {
    font-family: "Open Sans", sans-serif;
  }

  .infos {
    width: 25rem;
    height: auto;
    img {
      padding: 0.5rem;
      width: 150px;
    }
    .cnpj {
      color: rgb(190, 190, 190);
      padding: 0.5rem;
      font-size: 15px;
      text-align: justify;
      height: auto;
    }

    @media (max-width: 768px) {
      & {
        padding: 1rem 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .cnpj {
          font-size: 13px;
        }
      }
    }
  }
  .redes-sociais {
    padding: 1rem;
    width: 18%;
    display: flex;
    gap: 1rem;
    justify-content: space-around;

    a {
      border-radius: 8px;
      width: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      background-color: rgb(37, 40, 82);
    }

    .fa-brands {
      color: #999999;
      font-size: 20px;
    }

    @media (max-width: 768px) {
      width: auto;
    }
  }

  .e-mail,
  .telefones,
  .atendimento {
    h5 {
      color: white;
    }
  }

  .e-mail {
    color: rgb(190, 190, 190);
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .telefones {
    color: rgb(190, 190, 190);
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .atendimento {
    color: rgb(190, 190, 190);

    @media (max-width: 768px) {
      & {
        text-align: center;
      }
    }
  }
}
